@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates&display=swap');

body{
    font-family: 'Montserrat Alternates', sans-serif;
background-color: antiquewhite;
}
h3 {
    font-family: 'Montserrat', sans-serif;
}
p {
    width: 40%;

}
table,th,td {
    border: 1px solid black;
     border-collapse: collapse;
     padding: 10px;
    
}
table {
    width: 40%;
}
th{
    text-align: left;
}
a {background-color: #C0ED61;
    padding: 10px 20px ;
    margin-top:20px; 
    display: block;
    width: max-content;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-radius: 8px;
}
